<config xmlns="slixmpp:config">
  <component>mail</component>
  <host>jabber.example</host>
  <secret>password</secret>
  <server>jabber.example</server>
  <port>5348</port>

  <!-- <rosteronly /> -->

  <query xmlns="jabber:iq:roster">
    <item jid="juliet@capulet.example" />
    <item jid="romeo@montague.example" />
  </query>
</config>
